<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Manifiesto Ferroviario</title>
	<link rel="stylesheet" href="/manifiesto_ferroviario/views/assets/metro/min/metro-bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/manifiesto_ferroviario/views/assets/metro/min/metro-bootstrap.min.css">
	<link rel="stylesheet" href="/manifiesto_ferroviario/views/assets/styles/main.css">
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="/manifiesto_ferroviario/views/assets/js/app.js"></script>
	<script src="/manifiesto_ferroviario/views/assets/metro/js/jquery.widget.min.js"></script>
	<script src="/manifiesto_ferroviario/views/assets/metro/min/metro.min.js"></script>
</head>
<body class="metro">
	
	<div class="wrapper container">

	{% block head %}
        {% include 'head.html.twig' %}
    {% endblock %}	
    {% block errors %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include 'foot.html' %}
    {% endblock %}
	</div>