<div class='html-header'>

   <div class="grid">
      <div class="row">
         <p><a href="/manifiesto_ferroviario/">Inicio</a></p>

         <div class="panel" data-role="panel">
            <div class="panel-header bg-lightBlue fg-white">
               <strong>Nueva búsqueda,</strong> por número de:
            </div>
            <div class="panel-content">
               <div class="span6">
                  <h3>Referencia</h3>
                  <form action="" method="POST" name="referencia">
                     <div class="clearafter">
                        <div class="div_container">
                           <input type="text" name="num_ref" class="num_ref" value="LAR15-04802-I00" data-placeholder="LAR15-" {% if focus_head %} autofocus {% endif %} >
                        </div>
                     </div>
                     <input type="submit" value="Buscar" class="getBLs">
                  </form>
               </div>
               <div class="span6">
                  <h3>Guía</h3>
                  <form action="" method="POST" name="daterange">
                     <p class="tertiary-text-secondary ibl"  data-hint="Fecha en que el Transportista presentó la manifestación, guía o BL">Fecha de presentación</p>
                     <div class="clearafter">
                        <div class="div_container">
                           <label for="">Desde:</label>
                           <input type="date" value='{{ "last Monday"|date("Y-m-d") }}' name="fechaInicial" class="fechaInicial">
                        </div>
                        <div class="div_container">
                           <label for="">Hasta:</label>
                           <input type="date" name="fechaFinal" value='{{ "now"|date("Y-m-d") }}'>
                        </div>
                        <div class="div_container">
                           <label for="">Clave de Transportista</label>
                           <input type="text" name="cve_transportista" placeholder="KCSM">
                        </div>
                        <div class="div_container">
                           <label for="">Número de Equipo</label>
                           <input type="text" name="num_equipo">
                        </div>
                     </div>
                     <input type="submit" value="Buscar" class="getBLs">
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>