{% extends "base.html.twig" %}
{% block content %}

 <h2>
 	Manifiestos Pendientes:
 </h2>
<table class="table hovered">
	<thead>
		<tr>
			<td>Referencia</td>
			<td>Guía</td>
			<td>Fecha de Creación</td>
			<td>E-despacho</td>
			<td> </td>
		</tr>
	</thead>
	<tbody>
		<tr> <td>001</td> <td>KCSM12378</td> <td>2015-04-21</td> <td>Por Confirmar</td> <td><a class="btn button success" href="#">Confirmar</a> <a class="btn button default" href="#">Editar</a></td> </tr>
		<tr> <td>002</td> <td>KCSM12478</td> <td>2015-04-21</td> <td>Rechazado</td> <td><a class="btn button" href="#">Confirmar</a> <a class="btn button default" href="#">Editar</a></td> </tr>
		<tr> <td>003</td> <td>KCSM12578</td> <td>2015-04-21</td> <td>Rechazado</td> <td><a class="btn button" href="#">Confirmar</a> <a class="btn button default" href="#">Editar</a></td> </tr>
		<tr> <td>004</td> <td>KCSM12678</td> <td>2015-04-21</td> <td>Por Confirmar</td> <td><a class="btn button success" href="#">Confirmar</a> <a class="btn button default" href="#">Editar</a></td> </tr>
		<tr> <td>005</td> <td>KCSM12778</td> <td>2015-04-21</td> <td>Por Confirmar</td> <td><a class="btn button success" href="#">Confirmar</a> <a class="btn button default" href="#">Editar</a></td> </tr>
		<tr> <td>006</td> <td>KCSM12878</td> <td>2015-04-21</td> <td>Rechazado</td> <td><a class="btn button" href="#">Confirmar</a> <a class="btn button default" href="#">Editar</a></td> </tr>
	</tbody>
</table>
		
{% endblock %}