{% extends "base.html" %}
{% block content %}
	<form action="" method="POST">
		<input type="date" name="fechaInicial">
		<input type="date" name="fechaFinal">
		<input type="text" name="cve_transportista">
		<input type="submit">

	</form>
		
{% endblock %}