{% extends "base.html.twig" %}
{% block content %}

<h2>Resultados</h2>
<form action="">
	<input type="text" value="{{Referencia.adu_desp}}">
</form>

<script>
	setTimeout(function() {
    $( '.panel-header' ).trigger( "click" );
  }, 100);
</script>
{% endblock %}